<h1>Calculator Application</h1>
<p>The following requirements are to be taken into consideration when this application was being built:</p>
<ul>
    <li>The numbers are to be entered with commas in between them</li>
    <li>Must display the metrics that are calculated after the numbers are entered</li>
</ul>
<p>The metrics that are going to be calculated:</p>
<ul>
    <li><strong>Mean</strong>: The mean is the average of the numbers that you enter in.</li>
    <li><strong>Median</strong>: The median is known as the middle of the list, and the list should be sorted ahead of time!
        <ul>
            <li>If the list has an odd length of integers, then the <strong>median</strong> is the exact middle number in the list</li>
            <li><em>However</em>, if the list has <b>even</b> length of integers, then the average of the middle two numbers results in the median of the list</li>
        </ul>
    </li>
    <li><strong>Mode</strong>: This means the number or numbers that occur the most in the list that you as the user puts in.  There may be a couple of scenarios with regards to that. 
    <ol>
        <li>No mode or mode value of 0 - This means that there is no mode from the list that is entered</li>
        <li>A single mode value that is greater than 0 - This means that an integer <em>x</em> has been repeated more than once inside of the list</li>
        <li>Multiple mode values that are greater than 0 - This means that there exists a set of integers which is a subset of the list where each integer in the list occurs more than once</li>
    </ol>
    </li>
</ul>